/* GLITCH EFFECT */
@keyframes glitch {
  0% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  1% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  2% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  3% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  4% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  5% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  6% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  7% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  8% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  9% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  10% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  11% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  12% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  13% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  14% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  15% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  16% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  17% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  18% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  19% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  20% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  21% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  22% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  23% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  24% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  25% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  26% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  27% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  28% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  29% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  30% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  31% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  32% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  33% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  34% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  35% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  36% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  37% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  38% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  39% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  40% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  41% {filter: drop-shadow(50px 0 0 blue) drop-shadow(-50px 0 0 lime);}
  42% {filter: drop-shadow(0 0 0 blue) drop-shadow(0 0 0 lime);}
  43% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  44% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  45% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  46% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  47% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  48% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  49% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  50% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  51% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  52% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  53% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  54% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  55% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  56% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  57% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  58% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  59% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  60% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  61% {filter: drop-shadow(30px 0 0 red) drop-shadow(-30px 0 0 lime);}
  62% {filter: drop-shadow(0 0 0 red) drop-shadow(0 0 0 lime);}
  63% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 blue);}
  64% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 blue);}
  65% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 blue);}
  66% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 blue);}
  67% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  68% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  69% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  70% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  71% {filter: drop-shadow(70px 0 0 red) drop-shadow(-70px 0 0 blue);}
  72% {filter: drop-shadow(0 0 0 red) drop-shadow(0 0 0 blue);}
  73% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  74% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  75% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  76% {filter: drop-shadow(1px 0 0 red) drop-shadow(-1px 0 0 blue);}
  77% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  78% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  79% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  80% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 blue);}
  81% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  82% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  83% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  84% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  85% {filter: drop-shadow(0.5px 0 0 red) drop-shadow(-0.5px 0 0 lime);}
  86% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  87% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  88% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  89% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  90% {filter: drop-shadow(-1px 0 0 red) drop-shadow(1px 0 0 lime);}
  91% {filter: drop-shadow(60px 0 0 lime) drop-shadow(-60px 0 0 blue);}
  92% {filter: drop-shadow(0 0 0 lime) drop-shadow(0 0 0 blue);}
  92% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  93% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  94% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  95% {filter: drop-shadow(0.7px 0 0 blue) drop-shadow(-0.7px 0 0 lime);}
  96% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  97% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  98% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  99% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
  100% {filter: drop-shadow(-1px 0 0 blue) drop-shadow(1px 0 0 lime);}
}
